# Copiez ce fichier en ".env" si vous voulez personnaliser ces valeurs.
# Avec Docker, ces variables sont déjà définies dans docker-compose.yml
# et n'ont pas besoin d'être dupliquées ici.

DJANGO_DEBUG=True
DJANGO_SECRET_KEY=cle-de-developpement-a-changer-en-production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=collecte_terrain
POSTGRES_USER=collecte_user
POSTGRES_PASSWORD=collecte_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
